@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transition-properties {
        transition-property: outline-offset, outline-color, outline-color,
            background-color;
    }

    .instagram-gradient {
        background-image: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 68%,
            #285aeb 98%
        );
        outline-color: #a02d76;
    }

    .facebook-gradient {
        background-color: #4267b2;
        outline-color: #4267b2;
    }
    .youtube-gradient {
        background-color: #ff0000;
        outline-color: #ff0000;
    }
}

.utama {
    @apply w-10 h-10 inline-flex items-center justify-center no-underline text-2xl text-white rounded-full outline outline-2 outline-white transition-properties duration-200;
}
