<div class="container mx-auto">
    <div class="text-xl font-semibold text-center my-7">
        Organisasi Pelajar Ma'had Alzaytun
        <br />
        Dharma Bhakti 19
    </div>
    <br />
    <div class="bg-gray-200 mx-6 rounded-md pb-9 pt-11 relative mb-5">
        <p class="text-center text-sm">
            Website resimi Organisasi Pelajar Ma'had Al-Zaytun yang menyajikan
            kabar seputar kegiatan santri, karya santri, seni & olahraga,
            edukasi, orgnisasi santri, iklan produk Al-Zatyun, dan inovasi
            Al-Zaytun
        </p>

        <img
            src="/assets/opmaz.png"
            alt="opmaz-logo"
            class="absolute h-16 -top-8 left-[50%] translate-x-[-50%]"
        />

        <div class="flex absolute -bottom-5 left-[30%] translate-x-[-30%]">
            <a
                href="https://web.facebook.com/Opmaz_official-103725218608118"
                class="utama hover:outline-offset-4 hover:facebook-gradient facebook-gradient group"
                ><i class="mx-auto fa-brands fa-facebook fa-sm text-white"></i
            ></a>
        </div>

        <div class="flex absolute -bottom-5 left-[50%] translate-x-[-50%]">
            <a
                href="https://www.youtube.com/c/OPMAZOFFICIAL"
                class="utama hover:outline-offset-4 hover:youtube-gradient youtube-gradient group"
                ><i class="mx-auto fa-brands fa-youtube fa-sm text-white"></i
            ></a>
        </div>

        <div class="flex absolute -bottom-5 left-[70%] translate-x-[-70%]">
            <a
                href="https://www.instagram.com/opmaz_official/"
                class="utama hover:outline-offset-4 hover:instagram-gradient instagram-gradient group"
                ><i class="mx-auto fa-brands fa-instagram fa-sm text-white"></i
            ></a>
        </div>
    </div>
    <br />

    <div class="flex">
        <div class="bg-slate-600">
            <a
                href="/beritapasar"
                class="block h-60 mx-4 rounded-lg bg-gray-200 overflow-hidden relative group"
            >
                <div
                    class="bg-[url('/assets/pasar.jpg')] h-full w-full bg-cover bg-center group-hover:scale-110 transition-all duration-200"
                ></div>
                <div
                    class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-30 group-hover:opacity-60 transition-all duration-200"
                ></div>
            </a>
        </div>
        <div class="bg-red-600">
            <a
                href="/beritapasar"
                class="block h-60 mx-4 rounded-lg bg-gray-200 overflow-hidden relative group"
            >
                <div
                    class="bg-[url('/assets/pasar.jpg')] h-full w-full bg-cover bg-center group-hover:scale-110 transition-all duration-200"
                ></div>
                <div
                    class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-30 group-hover:opacity-60 transition-all duration-200"
                ></div>
            </a>
        </div>
        <div class="bg-teal-600">
            <a
                href="/beritapasar"
                class="block h-60 mx-4 rounded-lg bg-gray-200 overflow-hidden relative group"
            >
                <div
                    class="bg-[url('/assets/pasar.jpg')] h-full w-full bg-cover bg-center group-hover:scale-110 transition-all duration-200"
                ></div>
                <div
                    class="absolute top-0 left-0 bottom-0 right-0 bg-black opacity-30 group-hover:opacity-60 transition-all duration-200"
                ></div>
            </a>
        </div>
    </div>
</div>
