<div class="text-xl font-semibold text-center my-7">
    Organisasi Pelajar Ma'had Alzaytun
    <br />
    Dharma Bhakti 19
</div>
<br />
<div class="bg-gray-200 mx-6 rounded-md pb-12 pt-11 relative">
    <p class="text-center text-sm">
        Website resimi Organisasi Pelajar Ma'had Al-Zaytun yang menyajikan kabar
        seputar kegiatan santri, karya santri, seni & olahraga, edukasi,
        orgnisasi santri, iklan produk Al-Zatyun, dan inovasi Al-Zaytun
    </p>

    <img
        src="/assets/opmaz.png"
        alt="opmaz-logo"
        class="absolute h-16 -top-8 left-[50%] translate-x-[-50%]"
    />

    <div class="flex absolute -bottom-5 left-[30%] translate-x-[-30%]">
        <a
            href="#"
            class="utama hover:outline-offset-4 hover:facebook-gradient facebook-gradient group"
            ><i class="mx-auto fa-brands fa-facebook fa-sm text-white"></i
        ></a>
    </div>

    <div class="flex absolute -bottom-5 left-[50%] translate-x-[-50%]">
        <a
            href="#"
            class="utama hover:outline-offset-4 hover:youtube-gradient youtube-gradient group"
            ><i class="mx-auto fa-brands fa-youtube fa-sm text-white"></i
        ></a>
    </div>

    <div class="flex absolute -bottom-5 left-[70%] translate-x-[-70%]">
        <a
            href="#"
            class="utama hover:outline-offset-4 hover:instagram-gradient instagram-gradient group"
            ><i class="mx-auto fa-brands fa-instagram fa-sm text-white"></i
        ></a>
    </div>
</div>

<!-- 
<div class="flex">
    <a
        href="#"
        class="pelengkap hover:outline-offset-4 hover:instagram-gradient instagram-gradient group"
    >
        <i class="mx-auto fa-brands fa-instagram fa-sm text-white"></i>
    </a>
</div> -->
